main{
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
    .border{
        text-align: center;
		justify-content: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 300px;
		height: -moz-fit-content;
        height: fit-content;
        .btn {
	        border-radius: 4px;
	        background-color: $background-color_1;
	        border: none;
	        color: $color_1;
	        text-align: center;
	        font-size: 25px;
	        font-weight: bold;
	        padding: 10px;
	        width: 100px;
	        transition: all 0.2s;
	        margin: 20px 10px ;
            letter-spacing: 2.5px;
	span {
		display: inline-block;
		position: relative;
		transition: 0.2s;
		&:after {
			content: '>>';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -15%;
			transition: 0.2s;
		}
	}
	&:hover {
		span {
			padding-right: 15px;
			&:after {
				opacity: 1;
				right: 0;
			}
		}
		color: $color_2;
		background-color: $background-color_2;
		box-shadow: 4px 5px 17px -4px #560af0;
	}
}
    }
	.two{
		margin-top: 20px;
	}
	
}
.hide{
	display: none;
}
